/* Event Start Live */
#send_event {
    background-color: #066e61;
    border: 1px solid #066e61;
}

#send_event:hover {
    background-color: #108778;
}

/*Badges and name color 
div[data-sender='azizbot'] .from {
    color: #029986 !important;
    text-shadow: 0px 0px 10px rgba(2, 153, 134, 0.75) !important;
}

div[data-sender='azizbot'] .badges .subscriber {
    background: url(http://i.imgur.com/iYazWdo.png) !important;
    background-size: 100% !important;
}

div[data-sender='mastersnakou'] .badges .subscriber {
    background: url(http://i.imgur.com/vEDsEkz.png) !important;
    background-size: 100% !important;
}

div[data-sender='moobot'] .line .bot, .chat-room__content .badges .bot {
    background: url(http://i.imgur.com/wNAIYhh.png) !important;
    background-size: 100% !important;
}*/

/*Event de lancement de stream*/
#event{
	background-color: #014D44;
	color: #FBFBFB;
	text-align: center;
	padding: 2px;
}
#event button{
	padding: 2px;
    margin: 2px;
}

/*Couleur des boutons*/
.tw-button[data-test-selector='chat-send-button']{
	 background-color: #019985 !important;
}
.tw-button[data-test-selector='follow-button'], .tw-button[data-test-selector='subscribe-button__dropdown']{
	background: #029986 !important;
    color: #FFFFFF !important;
}
.tw-button[data-a-target='hosting-notification-gotochannel-button']{
	background: #029986 !important;
    color: #FFFFFF !important;
}
.hosting-notification[data-a-target='hosting-notification-container']{
	background-color: #014D44!important;
	color: #FFFFFF !important;
}
