body{
	background-color: black;
}

.checkbox
{
	font-size : 1.5em;
}
	
.checkbox input
{
	position : relative;
}
	
.checkbox span
{
	padding-left : 10px;
}

label
{
	padding-bottom: 1px;
	width: 100%;
	font-size : 1.5em;
}

.etiquette{
	font-size : 1.5em;
}

td{
	border : none!important;
}
		
.disable, .disable:hover{
	color : black;
	background-color: #d9534f;
	border : 1px solid #d9534f; 
	background-image: repeating-linear-gradient(130deg, transparent, transparent 25px, rgba(255, 255, 255, 0.5) 25px, rgba(255,255,255,0.5) 50px);
}
		
		